html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 14px;
  margin: 0 .5em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background: none;
  color: black;
  border: 1px solid;
  letter-spacing: 1px;
  color: black;
  border: black 1px solid;
  transition: 250ms ease-out;
  outline-color: #F9D649;
}
button.add {
  background-color: #ACF7D5;
}
button.remove {
  background-color: #6DD8F2;
}
button.clear {
  background-color: #FF5353;
}
@media all and (max-width: 850px) {
  button {
    margin-bottom: 1em;
  }
}
button:hover {
  color: white;
}

.main-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  min-height: 300px;
  padding: 50px;
  margin-top: 50px;
  position: relative;
  z-index: 10;
  max-height: 50vh;
  overflow-y: scroll;
  background-color: rgba(241, 157, 174, 0.4);
}
@media all and (max-width: 850px) {
  .main-container {
    width: 90%;
    padding: 20px;
    margin-top: 0;
    max-height: 100%;
    margin-bottom: 20px;
    background-color: rgba(241, 157, 174, 0.8);
  }
}
.main-container .text-input {
  width: 100%;
  font-size: 14px;
  margin: 0 .5em;
  padding: 0.75em 1.5em;
  background: none;
  border: 1px solid black;
  color: black;
  transition: border 250ms ease-out;
  width: 100%;
  margin-bottom: 2em;
  outline-color: #F9D649;
}
.main-container :-ms-input-placeholder {
  color: black;
  opacity: 1;
  /* Firefox */
}
.main-container ::placeholder {
  color: black;
  opacity: 1;
  /* Firefox */
}
.main-container .list {
  margin-top: 2em;
  font-size: 14px;
}
.main-container .list-item {
  color: black;
  margin: 0.9em;
}
.main-container .list-item li {
  line-height: 1.4;
}

.todolist-title {
  width: 40%;
  margin: 50px auto 0;
  display: -ms-grid;
  display: grid;
}
@media all and (max-width: 850px) {
  .todolist-title {
    margin: 20px auto 0;
    width: 80%;
  }
}

.image-bottom {
  position: fixed;
  width: 110%;
  height: 100%;
  left: -5%;
  right: 0;
  bottom: -25%;
}

.image-top {
  position: fixed;
  width: 110%;
  height: 100%;
  left: -5%;
  right: 0;
  top: -40%;
}
@media all and (max-width: 850px) {
  .image-top {
    display: none;
  }
}

.flamingo {
  position: fixed;
  right: 5%;
  bottom: 0;
  width: 50%;
  height: 40%;
}
@media all and (max-width: 850px) {
  .flamingo {
    width: 70%;
  }
}

.crab {
  position: fixed;
  left: 5%;
  bottom: 0;
  width: 8%;
  height: auto;
  z-index: 10;
}
@media all and (max-width: 850px) {
  .crab {
    width: 70%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

body {
  position: relative;
  overflow: hidden;
  background-color: #F19DAE;
  min-height: 100vh;
  width: 100%;
  font-family: "Helvetica";
}
@media all and (max-width: 850px) {
  body {
    overflow: auto;
  }
}
