@import 'helpers/media';

@import 'base/reset'; 
@import 'base/colors'; 
@import 'base/buttons';

@import 'compontents/todolist';

body {
    position: relative;
    overflow: hidden;
    background-color: $pink; 
    min-height: 100vh;
    width: 100%;
    font-family: "Helvetica";
    @include mediatablet {
        overflow: auto;
    }
} 