button {
    font-size: 14px;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: #2d7c58;
    border: 1px solid;
    letter-spacing: 1px;
    color: #4fc08d;
    border: #4fc08d 1px solid;
    transition: 250ms ease-out;
}