.main-container {
	width: 50%;
	margin: 0 auto;
	border: 1px solid black;
	min-height: 300px;
	padding: 50px;
	margin-top: 50px;
	position: relative;
	z-index: 10;
	max-height: 50vh;
	overflow-y: scroll;
	background-color: rgba(241,157,174,0.4);
	@include mediatablet {
		width: 90%;
		padding: 20px;
		margin-top: 0;
		max-height: 100%;
		margin-bottom: 20px;
		background-color: rgba(241,157,174,0.8);
	}

	.text-input {
		width: 100%;
	    font-size: 14px;
	    margin: 0 .5em;
	    padding: 0.75em 1.5em;
	    background: none;
	    border: 1px solid black;
	    color: black;
	    transition: border 250ms ease-out;
	    width: 100%;
		margin-bottom: 2em;
		outline-color: $yellow;
	}
	::placeholder {
	    color: black;
	    opacity: 1; /* Firefox */
	}
	.list {
		margin-top: 2em;
		font-size: 14px;
	}
	.list-item {
		color: black;
		margin: 0.9em;
		li {
			line-height: 1.4;
		}
	}
}
.todolist-title {
	width: 40%;
    margin: 50px auto 0;
	display: grid;
	@include mediatablet {
		margin: 20px auto 0;
		width: 80%;
	}
}
.image-bottom {
	position: fixed;
    width: 110%;
    height: 100%;
    left: -5%;
	right: 0;
	bottom: -25%;
}
.image-top {
	position: fixed;
    width: 110%;
    height: 100%;
    left: -5%;
	right: 0;
	top: -40%;
	@include mediatablet {
		display: none;
	}
}
.flamingo {
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 50%;
	height: 40%;
	@include mediatablet {
		width: 70%;
	}
}
.crab {
	position: fixed;
    left: 5%;
    bottom: 0;
    width: 8%;
	height: auto;
	z-index: 10;
	@include mediatablet {
		width: 70%;
	}
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}